.memberImage:hover + .memberDetails{
    visibility: hidden;
}

.memberImage:hover + .memberContacts{
    z-index: 10;
}



.memberDetails{
    color: red;
}

.hoverEffects{
    .memberImage:hover + .memberDetails{
        visibility: hidden;
    }
    .memberImage:hover + .memberContacts{
        z-index: 10;
    }
}